<script type="text/javascript">
function login() {
	//window.location = '{{auth_url}}'.replace(/&amp;/g, '&');
    window.location = 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=070de138-9b7e-4bbf-b23c-563d5acd64ca&response_type=code&redirect_uri=http://localhost:3000/login&scope=User.Read%20Mail.Send%20offline_access&response_mode=query&nonce=3884c1ce-2457-4037-b686-1667ab078203&state=abcd';
}
</script>
<div class="ms-Grid">
	<div class="ms-Grid-row">
		<!-- App navigation bar markup. -->
		<div class="ms-NavBar">
			<ul class="ms-NavBar-items">
				<li class="navbar-header">Office 365 Connect sample</li>
			</ul>
		</div>
		
		<!-- App main content markup. -->
		<div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
			<div>
				<p class="ms-font-xl">Use the button below to connect to Office 365.</p>
				<button id="connect_button" class="ms-Button" onclick="login()">
					<span class="ms-Button-label">Connect to Office 365</span>
				</button>
			</div>
		</div>
	</div>
</div>